@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #f2f2f2;
  /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
}
::selection{
  background: #4158d0;
  color: #fff;
}
.wrapper{
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.wrapper form{
  padding: 10px 30px 50px 30px;
}
.wrapper form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.wrapper form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid{
  border-color: #4158d0;
}
.wrapper form .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}

.logtext1 a {
  justify-content:center;
}
form .content{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
.imgsize{
    text-align: center;
    margin: 24px 0 12px 0;
}
img.hgt {
    width: 50%;
    border-radius: 20%;
  }
form .content .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
}

.resize{
  background-color: #fff;
  color:black;
  font-size: 12px;
  letter-spacing: 0px;
  border: none;
  border-bottom: 3px solid #c850c0 ;
  width: 150px;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  
}
.resizes{
  background-color: #fff;
  color:black;
  font-size: 12px;
  letter-spacing: 0px;
  border: none;
 
  width: 150px;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  
}
form .content input{
  width: 15px;
  height: 15px;
  background: red;
}
form .content label{
  color: #262626;
  user-select: none;
  padding-left: 5px;
}
form .content .pass-link{
  color: "";
}
form .field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  /* background: linear-gradient(-135deg, #521544); */
  background-color: rgb(187, 32, 127);
  transition: all 0.3s ease;
}

.bdrclr{
    border-color:1px solid black ;
}
form .field input[type="submit"]:active{
  transform: scale(0.95);
}
form .signup-link{
  color: #262626;
  margin-top: 20px;
  text-align: center;
}

.logtext{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #999999;
}

.social ul{
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;

}
.social ul li{
  list-style: none;
  margin: 0px 25px;
}
.social ul li .fa{
  font-size: 30px;
  line-height: 60px;
  transition: .6s;
}
.social ul li a{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius:50%;
  background-color: white;
  text-align: center;
  border: 0.5px solid black;
}

form .pass-link a,
form .signup-link a{
  color: #4158d0;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover{
  text-decoration: underline;
}
